<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %c classname, %p level, %msg message -->
            <pattern>%c %p %msg%n</pattern>
            <!--
            <pattern>%p %msg%n</pattern>
            -->
        </encoder>
    </appender>

    <logger name="com.kazurayam.material.model.MaterialImpl"                     level="info"/>
    <logger name="com.kazurayam.material.model.MaterialFileName"                 level="info"/>
    <logger name="com.kazurayam.material.model.repository.RepositoryRoot"        level="info"/>
    <logger name="com.kazurayam.material.model.repository.RepositoryFileScanner" level="info"/>
    <logger name="com.kazurayam.material.model.repository.RepositoryFileVisitor" level="info"/>
    <logger name="com.kazurayam.material.model.repository.RepositoryWalker"      level="info"/>
    <logger name="com.kazurayam.material.model.TCaseResult"                      level="info"/>
    <logger name="com.kazurayam.material.model.TSuiteResult"                     level="info"/>
    
    <logger name="root" level="debug" />

    <root>
        <appender-ref ref="STDOUT" />
    </root>
</configuration>