<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %c classname, %p level, %msg message -->
            <pattern>%c %p %msg%n</pattern>
            <!--
            <pattern>%p %msg%n</pattern>
            -->
        </encoder>
    </appender>

    <logger name="com.kazurayam.material.Material"              level="info"/>
    <logger name="com.kazurayam.material.MaterialFileName"      level="info"/>
    <logger name="com.kazurayam.material.RepositoryRoot"        level="info"/>
    <logger name="com.kazurayam.material.RepositoryFileScanner" level="info"/>
    <logger name="com.kazurayam.material.RepositoryFileVisitor" level="info"/>
    <logger name="com.kazurayam.material.RepositoryWalker"      level="info"/>
    <logger name="com.kazurayam.material.TSuiteResult"          level="info"/>

    <logger name="root"                                         level="info" />

    <root>
        <appender-ref ref="STDOUT" />
    </root>
</configuration>